<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="core/head :: head">
  <meta charset="utf-8">
  <title>Вход</title>
</head>
<body class="hold-transition login-page">

<div class="login-box">
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <div class="alert alert-success" role="alert" th:if="${resetPasswordMsg != null}">
        <p th:text="${resetPasswordMsg}"></p>
      </div>
      <div class="alert alert-danger" role="alert" th:if="${invalidSession != null}">
        <p th:text="${invalidSession}"></p>
      </div>
      <p class="login-box-msg">Вход</p>
      <form th:action="@{/login}" method="post">
        <div th:if="${param.error!=null}">
          <div class="alert alert-danger">
            <span th:text="'Не правильные почта или пароль.'"/>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="email" class="form-control" name="username" placeholder="Почта" autocomplete=”off”>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" name="password" class="form-control" placeholder="Пароль">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember" name="remember-me">
              <label for="remember">
                Запомнить меня
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Войти</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
<!--      <p class="mb-1">-->
<!--        <a href="#" data-toggle="modal" data-target="#forgotPasswordModel">Я забыл пароль</a>-->
<!--      </p>-->
      <p class="mb-0">
        <a href="register" class="text-center">Зарегистрироваться</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!--<div th:replace="account/forgotPassword :: forgotPasswordModel"></div>-->
<!-- /.login-box -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<script src="../../plugins/jquery/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $("#locale").change(function () {
      var selectedOption = $('#locale').val();
      if (selectedOption != '') {
        window.location.replace('?lang=' + selectedOption);
      }
    });
  });

</script>
</body>
</html>