<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Запись</title>
    <link th:rel="stylesheet" th:href="@{assets/bootstrap/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{assets/css/Toggle-Buttons.css}">
    <link th:rel="stylesheet" th:href="@{assets/css/untitled.css}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav">
    <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span class="bs-icon-sm bs-icon-circle bs-icon-primary shadow d-flex justify-content-center align-items-center me-2 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-suit-heart">
                        <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"></path>
                    </svg></span><span>Медсити</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{index}">Главная</a></li>
                <li class="nav-item"></li>
                <li class="nav-item"></li>
                <li class="nav-item"></li>
                <li class="nav-item"><a class="nav-link active" th:href="@{appointment}">Запись</a></li>
            </ul><a class="btn btn-primary shadow" role="button" th:href="@{login}">Войти</a>
        </div>
    </div>
    </nav>
    <section class="position-relative py-4 py-xl-5">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                    <div class="card mb-5">
                        <div class="card-body p-sm-5">
                            <h2 class="text-center mb-4">Запись к врачу</h2>
                            <form th:action="@{appointmentquery}" th:object="${userData}" method="post">
                                <div class="mb-3">
                                    <input class="form-control" type="text" th:field="*{name}" id="name-2" name="name" placeholder="Имя">
                                </div>
                                <input class="form-control" type="email" th:field="*{email}" id="email-2" name="email" placeholder="Электронная почта">
                                <input class="form-control" type="tel" th:field="*{phone}" name="phone" placeholder="Телефон: +7xxxxxxxxxx" required="" maxlength="12">
                                <div class="mb-3">
                                </div>
                                <select class="form-select" th:field="*{medic}" style="margin-top: 1em;margin-bottom: 1em;">
                                    <optgroup label="Врачи">
                                        <option th:each="d : ${doctors}" th:value="${d.getSpeciality()}"
                                                th:text="${d.getSpeciality()}"></option>

                                    </optgroup>
                                </select>
                                <input class="form-control" th:field="*{dateTime}" type="datetime-local" style="margin-bottom: 1em;" min="2022-06-01T10:00" max="2022-07-01T16:00" required="" >
                                <div><button class="btn btn-primary d-block w-100" type="submit" >Записаться</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script th:src="@{assets/js/jquery.min.js}"></script>
    <script th:src="@{assets/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{assets/js/bold-and-bright.js}"></script>
</body>
</html>